  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } else { %>
    <link rel="stylesheet" href="/stylesheets/nav.css">
  <% }  %> 
</head>
<body>
  <nav>
    <a href="/meals/new" <%- title === 'Add A Meal Name!' ? 'class="active"' : ''  %>>Add Meal</a>
    
    <a href="/meals" <%- title === 'All Current Meals!' ? 'class="active"' : '' %> >All Meals</a>

    <a href="/ingredients/new">Manage Ingredients</a>

    <% if (user) { %>
      <a href="/auth/logout">
        <button type="submit" class="btn btn-danger">Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
    
  </nav>
