<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <!-- <h1><%= title %></h1> -->
  <div>
		<button id="swift-button" class="btn btn-info">Add Meal!</button>
  </div>
</main>


<%- include('./partials/footer') %>