<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<link rel="stylesheet" href="/stylesheets/mealId.css">


<main>
  <h1><%= title %> </h1>
  <% if (user) { %>
  <form action="/meals" method="POST">
    <label for="name">
     Recipe Name:
    </label>
  <input 
    id="name" type="text" name="name" autocomplete="off">
    <button type="submit" class="btn btn-info">Add</button>
  </form>
  Dont see an ingredient? Add a new one here!
    <p>
      <form action="/ingredients/new" method="GET">
        <label for="name-input"">
        <button type="submit" class="btn btn-info">Add</button>
      </form>
    </p>
  <% } %>
</main>

<%- include('../partials/footer') %>